{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JPEG2000 Decoder</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="container">
        <h1>JPEG2000 Decoder</h1>
        <form method="POST" enctype="multipart/form-data" id="encodeForm" >
            {% csrf_token %}
            <label for="image">Upload Image:</label>
            <input type="file" name="image" accept="jp2/*" id='fileInput' required><br>

  
            <label for="output_format">Select Output Format:</label>
            <select name="output_format" required>
                <option value="jpeg">JPEG</option>
                <option value="png">PNG</option>
                <option value="bmp">BMP</option>
            </select>
            <button type="submit">Decode</button>
        </form>
        {% if error %}
        <p class="error">Error: {{ error }}</p>
        {% endif %}

      
        {% if error_message %}
        <div class="error">
            <p>Error: {{ error_message }}</p>
        </div>
        {% endif %}
        
        {% if result_image %}
<div class="processed-image" id="result-section">
    <p>Original Size: {{ original_size }}</p>
    <p>Decoded Image  Size: {{ decodedimage_size }}</p>
    <p>Size Change: {{ percentage_change }}</p>
    <p>Decoded Format: {{ decoded_format }}</p>
    <a href="{{ result_image }}" download>
        <button>Download Image</button>
    </a>
</div>
{% endif %}
<a href="/" class="back-button">Back to Home</a>
    </div>
   
</body>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // DOM Elemanlarını Seç
    
        const fileInput = document.getElementById('fileInput');
        const resultSection = document.getElementById('result-section');

        let ctx, img, isSelecting = false;

        // Kontroller
        if ( !fileInput) {
            console.error("Bazı gerekli DOM elemanları eksik. Lütfen HTML yapılarını kontrol edin.");
            return;
        }

        // Eğer result-section varsa, otomatik olarak oraya kaydır
        if (resultSection) {
            resultSection.scrollIntoView({ behavior: 'smooth', block: 'start' });
        }

     
    });

</script>
</html>